{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %}

<h3>Hi, {{ request.user }}! </h3>
<div class="my-5">
<a type="button" class="btn btn-primary btn-lg btn-block shadow-none p-3 mb-5 rounded" href="{% url 'create_questboard' %}" type="submit">Create a Questboard.</a>
</div>

<div class="mb-5">
	<h1>Latest Questboards.</h1>
</div>
<div class="mt-3 inline">
	
	{% for questboard in questboards %}
	
	<div class="mb-5 shadow p-3 mb-5 bg-white rounded">
	<small class="text-muted">Course</small>
	<p><h2 class="display-6">
	<a href="{% url 'questboard_detail' questboard.pk %}">
	{{ questboard.name }}</h2> 
	</a><b>Instructor:</b> {{ questboard.creator.username }}
	</p>
	</div>
	{% endfor %}
	
</div>
{% else %}

{% endif %}


{% endblock content %}