{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load fullurl %}
{% if request.user.is_authenticated %}
    <div class="shadow p-5 mb-5 bg-white rounded">
        {% if request.user == teacher %}
        <div class="mb-5">
            <a href="#" class="badge badge-dark" data-toggle="modal" data-target="#editQuestboardModal{{ questboard.pk }}">Edit</a>
        </div>
        
        <div class="modal fade" id="editQuestboardModal{{ questboard.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form method='POST' action="{% url 'update_questboard' questboard.pk %}"> {% csrf_token %}
                    {{ edit_questboard_form|crispy }}
                    <input type='submit' class="btn btn-primary"" value='Update' />
                    </form>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
        </div>
        {% endif %}
        <small class="d-flex self-align-center">Questboard </small>
        <h1 class="display-6">  {{ questboard.name }} </h1>
        <p class="lead mt-3">
              {{ questboard.description }}
        </p>
        <div class="mt-5">
            <dl class="row">
                  <dt class="col-sm-6 mt-2">Required number of stars to fulfill this course: </dt>
                  <dd class="col-sm-6 mt-2"> {{ questboard.required_stars }} stars</dd> 
                  <dt class="col-sm-6 mt-2">Course Instructor: </dt>
                  <dd class="col-sm-6 mt-2"> {{ teacher.username }} </dd> 
            </dl>
        </div>
        <div class="form-group row mt-3">
              <div class="col-xs-1">
                <input type="text" class="form-control ml-3 mr-5 align-self-center" value="{% fullurl 'questboard_detail' questboard.pk %}" id="myInput" readonly="readonly">
              </div>
              <div class="col-xs-2">
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
                
              <div class="col-xs-3">
                  <button class="btn btn-sm btn-dark align-self-center" onclick="myFunction()">
                
                      
                 
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-link-45deg" viewBox="0 0 16 16">
                            <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                            <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                      </svg>
                     
                  </button>
              </div>
             
        </div>
        
           

     
        <script>
        function myFunction() {
              /* Get the text field */
              var copyText = document.getElementById("myInput");
            
              /* Select the text field */
              copyText.select();
              copyText.setSelectionRange(0, 99999); /* For mobile devices */
            
              /* Copy the text inside the text field */
              document.execCommand("copy");
            
              /* Alert the copied text */
              alert("Link copied");
            }
        </script>
        
    </div>
    {% if request.user == teacher %}
    <div class="mb-5">
        <a type="button" class="btn btn-info btn-lg btn-block" href="{% url 'create_quest' questboard.pk %}" type="submit">Create a Quest.</a>
    </div>
    {% endif %}
    
    <div class ="row mt-3">
    {% for quest in quests %}
    <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
        <div class="card shadow p-1 mx-3 mb-5 bg-white rounded h-100" style="width: 20rem;">
              <div class="card-body">
                {% if request.user == teacher and not quest.member_one and not quest.member_two and not quest.member_three %}
                  <div class="mb-2">
                      <a href="{% url 'update_quest' quest.pk %}" class="badge badge-info"">Edit</a>
                  </div>
                  
        
                  
                  
                  
                {% endif %}
                
                
                {% for i in quest.get_star_string %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f5b342" class="bi bi-star-fill" viewBox="0 0 16 16">
                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                {% endfor %}
                <h5 class="card-title mt-3">{{ quest.name }}</h5>
                <p class="card-text"> {{ quest.description }}</p>
                
               
              </div>
              
              {% if not quest.for_everyone %}
              
              <ul class="list-group list-group-flush">
                {% if quest.member_one %}
                <li class="list-group-item">{{ quest.member_one }}</li>
                {% else %}
                <form method="POST" action="{% url 'add_member_one' quest.pk %}"> {% csrf_token %}
                    <li class="list-group-item d-flex justify-content-between">{{ member_one_form.member_one }} 
                        <button type="button" class="btn btn-warning self-align-start" data-toggle="modal" data-target="#confirmJoinModalOne{{ quest.pk }}">
                            <small>Join</small>
                        </button> 
                    </li>
                    
                    <div class="modal fade" id="confirmJoinModalOne{{ quest.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Join this quest?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                               <button type="submit" class="btn btn-info btn-sm">Yes</button>
                               <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">No</button>
                              </div>
                              <div class="modal-footer">
                              </div>
                            </div>
                          </div>
                    </div>
                
                
                </form>
                {% endif %}
              </ul>
              
              
              
              <ul class="list-group list-group-flush">
                  {% if quest.member_two %}
                  <li class="list-group-item">{{ quest.member_two }}</li>
                  {% else %}
                  <form method="POST" action="{% url 'add_member_two' quest.pk %}"> {% csrf_token %}
                      <li class="list-group-item d-flex justify-content-between">{{ member_two_form.member_two }} 
                          <button type="button" class="btn btn-warning self-align-start" data-toggle="modal" data-target="#confirmJoinModalTwo{{ quest.pk }}">
                              <small>Join</small>
                          </button> 
                      </li>
                      
                      <div class="modal fade" id="confirmJoinModalTwo{{ quest.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Join this quest?</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                 <button type="submit" class="btn btn-info btn-sm">Yes</button>
                                 <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">No</button>
                                </div>
                                <div class="modal-footer">
                                </div>
                              </div>
                            </div>
                      </div>
                  
                  
                  </form>
                  {% endif %}
              </ul>
                
              <ul class="list-group list-group-flush">
                    {% if quest.member_three %}
                      <li class="list-group-item">{{ quest.member_three }}</li>
                      {% else %}
                      <form method="POST" action="{% url 'add_member_three' quest.pk %}"> {% csrf_token %}
                          <li class="list-group-item d-flex justify-content-between">{{ member_three_form.member_three }} 
                              <button type="button" class="btn btn-warning self-align-start" data-toggle="modal" data-target="#confirmJoinModalThree{{ quest.pk }}">
                                  <small>Join</small>
                              </button> 
                          </li>
                          
                          <div class="modal fade" id="confirmJoinModalThree{{ quest.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle">Join this quest?</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                     <button type="submit" class="btn btn-info btn-sm">Yes</button>
                                     <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">No</button>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                  </div>
                                </div>
                          </div>
                      
                      
                      </form>
                      {% endif %}
              </ul>
              
              {% else %}
              <ul class="list-group list-group-flush">
                  <li class="list-group-item"> This quest is for everyone</li>
              </ul>
              {% endif %}
              
        </div>
    </div>
    {% endfor %}
    </div>
    
{% endif %}
{% endblock content %}