{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if request.user.is_authenticated %}
    {% if request.user == teacher and not quest.member_one and not quest.member_two and not quest.member_three %}
    
    <div class="content-section shadow p-3 mb-5 bg-white rounded">
        <form action="{% url 'update_quest' quest.pk %}" class="site-form" method="POST">
            {% csrf_token %} 
            <fieldset class="form-group">
                
                <legend class="border-bottom mb-4 mt-4 p-4"> <h1>Edit quest.</h1>
                </legend>
                <div class="container">
               
                    
                    
                    {{ form|crispy }}
                    
                    
                </div>
                <div class="form-group">
                    <button class="btn btn-primary mt-3 ml-3" type="submit">Submit</button>
                </div>   
             
                
            </fieldset>   
     
        </form>
    </div>
    {% else %}
    <div class="shadow p-5 mb-5 bg-white rounded">
    <h1 class="display-6"> Oops! </h1>
    <p class="lead mt-4">
          You can't edit this quest. :(
    </p>
    </div>
  
    {% endif %}
{% endif %}
{% endblock content %}
